* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button: #FF0000;
  --main-background: #C4C4C4;
  --background: #E5E5E5;
  --text: #000;
  --footer: #000;
  --text-description: #9C9696;
}

body {
  background: var(--background);
  height: 100vh;
}

body * {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  margin: 39px 60px;
  position: absolute;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 80px;
}

.category-links {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.search-input {
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0 12px 42px;
  background: #ffffff url(./assets/icon-search.svg) no-repeat 13px 50%/24px;
  width: 220px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-weight: 700;
  padding: 103px 72px 0 111px;
  width: 37.5%;
}

.product-name {
  font-size: 60px;
}

.product-description {
  color: var(--text-description);
}

.product-price {
  font-size: 40px;
}

.buy-button {
  background: var(--button);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  padding: 33px 77px;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.gallery-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: var(--main-background);
  padding: 174px 18px 40px;
  width: 62.5%;
}

.zoom-in-picture {
  width: 67%;
}

.gallery-pictures {
  display: flex;
  gap: 37px;
  width: 100%;
}

.gallery-pictures img {
  width: 30%;
}

.selected-picture {
  border-bottom: 5px solid var(--button);
}

footer {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.explore-more {
  background: var(--footer);
  font-size: 24px;
  padding: 71px 116px 67px;
}

.explore-more a {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
